<div class="row">
  <div class="col-sm-6 service">
    <a href="<%= Rails.application.config.submission_url %>"><%= render "submission" %></a>
  </div>
  <div class="col-sm-6 service">
    <a href="<%= Rails.application.config.stamps_ui_url %>"><%= render "permissions" %></a>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 service">
    <a href="<%= Rails.application.config.set_shaper_url %>"><%= render "sets" %></a>
  </div>
  <div class="col-sm-6 service">
    <a href="<%= Rails.application.config.study_management_url %>"><%= render "projects" %></a>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 service">
    <a href="<%= Rails.application.config.work_orders_url %>"><%= render "work_orders" %></a>
  </div>
</div>
