<div class="row">
  <div class="col-md-4 service">
    <%= render "submission" %>
  </div>
  <div class="col-md-4 service">
    <%= render "work_orders" %>
  </div>
  <div class="col-md-4 service">
    <%= render "sets" %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 service">
    <%= render "projects" %>
  </div>
  <div class="col-md-4 service">
    <%= render "permissions" %>
  </div>
</div>
