<ul class="nav navbar-nav">
  <li>
    <%= link_to 'Submissions' %>
  </li>
  <li>
    <%= link_to 'Sets' %>
  </li>
  <li>
    <%= link_to 'Permissions' %>
  </li>
  <li>
    <%= link_to 'Projects' %>
  </li>
  <li>
    <%= link_to 'Work Orders' %>
  </li>
</ul>