<!DOCTYPE html>
<html>
  <head>
    <title>Aker Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# navbar comes from aker_shared_navbar engine %>
    <%= render partial: "navbar" %>

    <div class="container" id ="content">
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
